.main {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(90deg, #7061de, #5657cc, #3d3dba 80%, #103c9a), #ebeff8;
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
  color: rgb(205, 203, 203);
}
.main .container {
  width: 100%;
  border-bottom: 2px solid rgb(147, 144, 144);
  color: white;
  text-transform: capitalize;
  padding: 10rem 0.5rem 0 0.5rem;
}
.main .lists {
  margin-bottom: 5rem;
}
.main ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.main .content-lists {
  padding: 0 0.5rem;
}
.main .content-lists > * {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  margin-top: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  width: fit-content;
}
.main .content-lists > *:hover {
  background-color: white;
  color: #103c9a;
}
.main .data-lists {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 3rem auto 0 auto;
  justify-content: center;
}
.main .data-list {
  border: 2px solid rgb(147, 144, 144);
  border-radius: 1rem;
  width: 25rem;
  cursor: pointer;
  min-height: fit-content;
  height: 23rem;
}
.main .data-list img {
  max-width: 100%;
  width: 100%;
  height: 200px;
  margin: 0;
  border-bottom: 2px solid rgb(147, 144, 144);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.main .data-list .title {
  text-transform: capitalize;
  color: white;
  padding: 0 0.5rem;
  font-size: 1.1rem;
}
.main .data-list .author-container {
  margin: 0;
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 0 0.5rem;
}

.author-container > * {
  display: flex;
  gap: 0;
  align-items: center;
  text-transform: uppercase;
  word-spacing: 10%;
}

.author-container span {
  padding-left: 0.5rem;
}

@media screen and (max-width: 700px) {
  .main {
    background-size: 100vw 50vh;
  }
}