.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  background-color: #7061de;
  border: 1px solid #7061de;
  padding: 1rem 0.5rem;
  border-radius: 30px;
}
.solution-header {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.header h3 {
  text-transform: uppercase;
}
.middle-header {
  display: flex;
  gap: 3rem;
}
.middle-header > * {
  cursor: pointer;
}
.header .menu {
  display: none;
}
@media screen and (max-width: 450px) {
  .header ul {
    display: none;
  }
  .header .menu {
    display: block;
  }
  .menu button {
    position: fixed;
    top: 23px;
    right: 30px;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }
  .header.active,
  .menu .icon {
    color: black;
  }
  .menu .options {
    display: block;
    margin-top: 15rem;
    margin-top: 3rem;
    position: absolute;
    top: 0;
    right: 10px;
    color: black;
    background-color: aliceblue;
    padding: 1rem 2rem 4rem 1rem;
    font-weight: bold;
    width: 300px;
    line-height: 3;
  }
  
}
